<div class='nested-fields'>
  <div class='phoneFields'>
    <div class='field'>
      <%= f.label :number, class: 'phone-number-label' %>
      <%= f.text_field :number %>
    </div>
  </div>
  <%= link_to_remove_association t('phones.remove'), f %>
</div>