<% if @applicant.errors.any? %>
  <% @applicant.errors.full_messages.each do |message| %>
    <p>
      <%= message %>
    </p>
  <% end %>
<% end %>

<%= render partial: 'form', locals: { applicant: @applicant } %>