<nav>
  <h2>Emprestimo</h2>
  <h2>Como Funciona</h2>
  <% if user_signed_in? %>
    <%= link_to t('models.applicant.index', scope: :activerecord), applicants_path %>
    <%= link_to t('shared.links.sign_out', scope: :devise), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to t('shared.links.sign_in', scope: :devise), new_user_session_path %>
  <% end %>
</nav>
<div class='triangle'>
  <div class='triangle_content'>
  <%= image_tag  "Logo.png" %>
  <h2>Nexoos Challenge</h2>
  </div>
</div>
<div class='home-content'>
  <h2>Empréstimo na Nexoos é simples <br/>e sem complicação</h2>
</div>
</div>